* {
    font-family: Arial, Helvetica, sans-serif;
}


header {
background-image: url(./img/mulher-programando.png);
background-repeat: repeat;
background-position: left center;
padding: 8%;
opacity: 80%;



}

body{
    background-image: url(./img/tela-fundo.webp);
    background-repeat: repeat;
    background-position: left center;
    opacity: 80%;
}

#menu {
    font-family: href="https://fonts.gstatic.com" ;
    font-size: 12px;
    margin-left: 1142px;
    margin-top: -10px;
    position: sticky;
    top: 0px;
    margin-bottom: auto;
    opacity: 70%;
}

#menu:hover {
    background-color: rgb(52, 6, 94);
    color: rgb(9, 114, 206);
    cursor: pointer;
}

#menu:active {
    background-color: blue;
    color: rgb(2, 48, 88);
}

#adicionar {
    display: block;
    margin-left: 600px;
    margin-top: 90px;
    
}

form {
    margin-left: 450px;
    margin-top: -120px;
    font-size: 18px;
    padding: 10%;
    
}

/*RODAPÉ*/

h2 {
    margin: auto;
    padding: 1%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: 200px;
    margin-top: -110px;
    margin-left: 645px;
    display: block;
    
    
}


.insta {
    max-width: 48px;
    max-height: 48px;
    margin-left: 660px;
    margin-top: -30px;
    display: inline;
    border-radius: 50%;
   
    
}
.linkedin {
    max-width: 45px;
    max-height: 45px;
    margin-left: 30px;
    display: inline;
    border-radius: 50%;
}
   
.github {
   max-width: 50px;
   max-height: 50px;
   border-radius: 50%;
   margin-left: 20px;
}
    
.email {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}


#frase-rodape {
    margin-left: 100px;
    text-align: center;
    padding: 5%;
    margin-top: -20px;
}

footer > p {
padding: 2%;
margin-left: 650px;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
font-style: italic;
}
